/venv/
/.idea/.gitignore
/.idea/heroku-vue-djano.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/front_end/.firebase/hosting.ZGlzdA.cache
/.idea/webResources.xml
/front_end/package-lock.json
